* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

body {
    background-color: #e6e7ee;
    font-family: Helvetica, Arial, sans-serif;
}

/* Header styles*/

header {
    padding: 35px 35px;
    background-color: #060b28

}

header h1 {
    background-color: #7de7e9;
    font-weight: bold;
    font-size: 36px;
    color: #445876;
    margin: 0;
    display: inline;
}

header a {
color: #7de7e9;
text-decoration: underline;
text-align: center; 
}

header nav {
float: right;
margin: 7px;
}

header nav ul {
display: inline;
}

header nav ul li {
    display: inline-block;
    font-size: 20px;
    padding: 20px;
  }

header nav ul li a {
    margin: 0;
    font-weight: lighter;
    font-size: 20px;
}

/* unvisited link */
a:link {
    color: #7de7e9;
  }
  
  /* visited link */
  a:visited {
    color: #7de7e9;
  }
  
  /* mouse over link */
  a:hover {
    color: rgb(168, 168, 168);
  }
  
  /* selected link */
  a:active {
    color: rgb(245, 245, 245);
  }


  footer {
      clear:both;
  }
footer h2 {
display: inline-block;
color: #445876;
font-size: 26px;
margin: 0;
}

footer div {
    color: #445876;

}


/*Hero Style*/
.hero {
  height: 400px;
  background-image: url("../images/portfolio-hero.jpg");
  background-position: center;
  background-size: cover;
}



.section-h2{
  text-align:center;
  font-size: 38px;
  padding-left: 70px;

}

.left-column{
  display:flex;
  flex: 1;
  justify-content:start;
  border-right: #445876 solid 1px;
  padding: 20px 0;
 

}

.right-column{
  display: flex;
  flex: 3;
  padding:20px;
  overflow: hidden;

}


.holding-container{
  width:100%;
  display:flex;
  box-sizing: border-box;
  margin:20px;

  
}

.internal-containerL{
  flex:1;
  padding: 30px;
}


.internal-containerR{
  flex:1;
  padding:30px;
}

.img-work{
  width:100%;
}


@media screen and (max-width:768px){

  .holding-container{
flex-direction: column;
margin:0px;
  }
  .left-column{
    flex-direction: column;
    justify-content:center;
    border-right: 0px solid !important;
    border-bottom: #445876 solid 1px ;
    padding: 20px 0;
    margin:10px;

  }

  .right-column{
      flex-direction: column;
  }


  .section-h2{
  font-size: 38px;
  text-align: center;
  padding-left:0px !important;

  }

  .internal-containerL{
    flex-direction: column;
    text-align: center;
    padding: 0px;
    
  }
  
  .internal-containerR{
    flex-direction: column;
    text-align: center;
    padding:0px;
  
  }
.img-work{
  flex-direction: column;
  padding:10px;
}
  
}