* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

body {
    color: #eaebf4;
    font-family: Helvetica, Arial, sans-serif;
}

/* Header styles*/

header {
    padding: 20px 35px;
    background-color: #060b28
}

header h1 {
    background-color: #7de7e9;
    font-weight: bold;
    font-size: 36px;
    color: #445876;
    margin: 0;
    display: inline;
}

header a {
color: #7de7e9;
text-decoration: underline;
}

header nav {
float: right;
margin: 7px;
}

header nav ul {
display: inline;
}

header nav ul li a {
    margin: 0;
    font-weight: lighter;
    font-size: 20px;

}

footer h2 {
display: inline;
color: #445876;
font-size: 26px;
margin: 0;
}

footer div {
    color: #445876;
line-height: 15px;
}

/*Hero Style*/
.hero {
    height: 400px;
    background-image: url("../images/portfolio-hero.jpg");
    background-position: center;
    background-size: cover;
}